@charset "utf-8";

/* articleArea */

.articleArea {
    position: relative;
    z-index: 1;
}

.articleArea div {
    line-height: 1.3;
}


/** articleList **/

.articleList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-pack: justify;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 25px;
}

.articleList li {
    padding: 0 12px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 33.33%;
}

.articleList li figure a {
    color: #000;
}

.articleList li figure a:hover {
    text-decoration: none;
}

.articleList .image {
    width: 100%;
}

.articleList .image img {
    width: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.articleList .info {
    padding: 20px;
}

.articleList .entryMeta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.articleList .category {
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #b9b9b9;
    border: 2px solid #b9b9b9;
    border-radius: 1em;
    padding: 4px 20px 2px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
}

.articleList li.game .category {
    border-color: #864fe9;
    color: #864fe9;
}

.articleList li.anime .category {
    border-color: #4fade9;
    color: #4fade9;
}

.articleList li.event .category {
    border-color: #47d275;
    color: #47d275;
}

.articleList li.media .category {
    border-color: #fbaf32;
    color: #fbaf32;
}

.articleList li.live .category {
    border-color: #ff505e;
    color: #ff505e;
}

.articleList li.release .category {
    border-color: #04b7f9;
    color: #04b7f9;
}

.articleList li.goods .category {
    border-color: #89ce11;
    color: #89ce11;
}

.articleList time {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #b2b2b2;
}

@media screen and (max-width:959px) and (min-width: 1px) {
    .articleList .entryMeta {
        margin-bottom: 10px;
    }
    .articleList .category {
        font-size: 10px;
        padding: 4px 5px 2px;
        border-width: 1px;
    }
    .articleList time {
        font-size: 10px;
    }
    .newsEntry figcaption {
        font-size: 13px;
    }
    .articleList {
        margin-bottom: 13px;
    }
    .articleList li {
        padding: 0 5px;
        margin-bottom: 12px;
        width: 50%;
    }
}


/*-----------------------------------------------
 news
-----------------------------------------------*/

#news {
    z-index: 1;
    overflow: hidden;
    padding: 10px 0 45px;
}

#news .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;
    box-sizing: border-box;
}

#news .articleArea {
    margin-left: 18px;
    margin-top: -8px;
    margin-right: 18px;
}

#news .articleList li figure {
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    -moz-box-shadow: 0px 6px 20px -5px rgba(211, 213, 248, 1);
    -webkit-box-shadow: 0px 6px 20px -5px rgba(211, 213, 248, 1);
    -ms-box-shadow: 0px 6px 20px -5px rgba(211, 213, 248, 1);
    box-shadow: 0px 6px 20px -5px rgba(211, 213, 248, 1);
}

#news .articleList li figure a:hover .image img {
    transform: scale(1.1);
}

#news .articleList .info {
    position: relative;
    padding: 21px 19px 80px;
}

#news .articleList .info::before,
#news .articleList .info::after {
    position: absolute;
    height: 2px;
    background-color: #ea5c9f;
    content: "";
}

#news .articleList a .info::before {
    bottom: 22px;
    right: 22px;
    width: 37px;
    -webkit-transition: all .35s;
    transition: all .35s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: cubic-bezier(.31, -.105, .43, 1.59);
    transition-timing-function: cubic-bezier(.31, -.105, .43, 1.59);
}

#news .articleList a .info::after {
    bottom: 30px;
    right: 19px;
    width: 24px;
    transform: rotate(45deg);
}

#news .articleList a:hover .info::before {
    width: 57px;
}

#news .newsEntry {
    position: relative;
}

#news .newsEntry figcaption {
    overflow: hidden;
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: absolute;
    color: #62514b;
}

#news .newsEntry figcaption a {
    color: #000;
}

@media screen and (max-width:959px) and (min-width: 1px) {
    #news {
        padding-bottom: 0;
    }
    #news .inner {
        padding-top: 6.4vw;
        margin-top: -30px;
    }
    #news .inner h2 img {
        max-width: 82%;
        height: auto;
    }
    #news .articleArea {
        margin-left: 5px;
        margin-top: -1px;
        margin-right: 5px;
    }
    #news .articleList .info {
        padding: 10px 12px 60px;
    }
    #news .articleList .info::before,
    #news .articleList .info::after {
        height: 1px;
    }
    #news .articleList a .info::before {
        bottom: 14px;
        right: 12px;
        width: 34px;
    }
    #news .articleList a .info::after {
        bottom: 20px;
        right: 10px;
        width: 18px;
    }
    #news .articleList a:hover .info::before {
        width: 44px;
    }
    #news .newsEntry figcaption {
        font-size: 13px;
    }
}